<h1>User Profile</h1>

<div>
	<label>User:</label><%= @user.name%>
</div>

<div>
	<label>Email:</label><%= @user.email%>
</div>

<%= link_to 'Edit Profile', edit_user_path %>
<%= link_to 'Back to projects', projects_path %>
